# Framework
streamlit
python-dotenv

# Database
pymongo

# AI Agent
google-generativeai

# Essentials for PDF Processing
faiss-cpu
PyMuPDF
docx2txt

# Dataframes
numpy

# Language Models
langchain
